<footer class="wrapper" id="contact">
  <div class="content">
    <div class="contact">
      <div class="contact-links">
        <a href="mailto:{{ site.contact.email }}"><i class="icon-envelope-o"></i></a>
        <a href="/feed.xml"><i class="icon-rss"></i></a>
        <a href="https://github.com/{{ site.contact.github }}"><i class="icon-github"></i></a>
        <a href="https://stackoverflow.com/users/{{ site.contact.stack_overflow }}/"><i class="icon-stack-overflow"></i></a>
        <a href="https://instagram.com/{{ site.contact.instagram }}"><i class="icon-instagram"></i></a>
        <a href="https://twitter.com/{{ site.contact.twitter }}"><i class="icon-twitter"></i></a>
      </div>
      <div class="contact-copyright">
        <a href="{{ site.url }}">{{ site.author }}</a> &copy; {{ site.time | date: "%Y" }}
      </div>
    </div>
  </div>
</footer>
