<footer class="wrapper content-wrapper contact" id="contact">
  <div class="sidebar">
    <a href="{{ site.url }}">{{ site.author }}</a> &copy; {{ site.time | date: "%Y" }}
  </div>
  <div class="content">
    <div class="contact-links">
      <a href="mailto:{{ site.contact.email }}"><i class="fa fa-envelope-o"></i></a>
      <a href="/feed.xml"><i class="fa fa-rss"></i></a>
      <a href="https://github.com/{{ site.contact.github }}"><i class="fa fa-github"></i></a>
      <a href="https://stackoverflow.com/users/{{ site.contact.stack_overflow }}/"><i class="fa fa-stack-overflow"></i></a>
      <a href="https://instagram.com/{{ site.contact.instagram }}"><i class="fa fa-instagram"></i></a>
      <a href="https://twitter.com/{{ site.contact.twitter }}"><i class="fa fa-twitter"></i></a>
      <a href="http://medium.com/@{{ site.contact.medium }}"><i class="fa fa-medium"></i></a>
      <a href="https://www.linkedin.com/in/{{ site.contact.linkedin }}"><i class="fa fa-linkedin"></i></a>
    </div>
  </div>
</footer>
