    <footer>
      <div id="contact">
        <a href="mailto:crispgm@gmail.com"><i class="fa fa-envelope-o"></i></a>
        <a href="/feed.xml"><i class="fa fa-rss"></i></a>
        <a href="https://github.com/crispgm"><i class="fa fa-github"></i></a>
        <a href="https://instagram.com/crispgm"><i class="fa fa-instagram"></i></a>
        <a href="https://twitter.com/crispgm"><i class="fa fa-twitter"></i></a>
        <a href="http://weibo.com/crispgm"><i class="fa fa-weibo"></i></a>
      </div>
    </footer>
    {% if page.disable_syntax_highlight != true %}
    <script src="{{ site.assets }}/scripts/highlight.pack.js"></script>
    <script>hljs.initHighlightingOnLoad();</script>
    {% endif %}
    {% ga %}