    <header class="menu">
      <div class="menu-home">
        <a href="/" style="color: #000000;">DAVID ZHANG</a>
      </div>
      <div class="menu-links">
        <div class="menu-item{% if page.title == "Blogs" %}{{" menu-active"}}{% endif %}">
          <a href="/blogs.html">BLOGS</a>
        </div>
        <div class="menu-item{% if page.title == "Projects" %}{{" menu-active"}}{% endif %}">
          <a href="/projects.html">PROJECTS</a>
        </div>
        <div class="menu-item{% if page.title == "Things" %}{{" menu-active"}}{% endif %}">
          <a href="/things.html">THINGS</a>
        </div>
        <div class="menu-item{% if page.title == "About" %}{{" menu-active"}}{% endif %}">
          <a href="/about.html">ABOUT</a>
        </div>
      </div>
    </header>