    <header class="content-wrapper menu">
      <div class="menu-links">
        <div class="menu-item{% if page.title == "Blog" %}{{ " menu-active" }}{% endif %}">
          <a href="/blog.html">Blog</a>
        </div>
        <div class="menu-item{% if page.title == "Project" %}{{ " menu-active" }}{% endif %}">
          <a href="/project.html">Project</a>
        </div>
        <div class="menu-item">
          <a href="/wiki/">Wiki</a>
        </div>
        <div class="menu-item{% if page.title == "Bio" %}{{ " menu-active" }}{% endif %}">
          <a href="/bio.html">Bio</a>
        </div>
        <div class="menu-item{% if page.title == "About" %}{{ " menu-active" }}{% endif %}">
          <a href="/about.html">About</a>
        </div>
      </div>
      <div class="menu-bars">
        <i id="dropdown-button" class="fa fa-bars"></i>
      </div>
      <div class="menu-home">
        <a href="/">DAVID ZHANG</a>
      </div>
    </header>
