    <header class="menu">
      <div class="menu-home">
        <a href="/">DAVID ZHANG</a>
      </div>
      <div class="menu-links">
        <div class="menu-item{% if page.title == "Home" %}{{ " menu-active" }}{% endif %}">
          <a href="/">Home</a>
        </div>
        <div class="menu-item{% if page.title == "Blog" %}{{ " menu-active" }}{% endif %}">
          <a href="/blog.html">Blog</a>
        </div>
        <div class="menu-item{% if page.title == "Project" %}{{ " menu-active" }}{% endif %}">
          <a href="/project.html">Project</a>
        </div>
        <div class="menu-item">
          <a href="/wiki/" target="_blank">Wiki</a>
        </div>
        <div class="menu-item{% if page.title == "About" %}{{ " menu-active" }}{% endif %}">
          <a href="/about.html">About</a>
        </div>
      </div>
    </header>
