  <head>
    <meta charset="UTF-8">
    <meta name="description" content="{{ site.description }}"/>
    <title>{{ page.title }} | {{ site.title }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="canonical" href="{{ site.url }}{{ page.permalink }}">
    <link rel="alternate" href="{{ site.alt_url }}">
    <link rel="alternate" href="{{ site.url }}/feed.xml" type="application/rss+xml" title="RSS">
    <link rel="icon" type="image/x-icon" href="https://assets-cdn.github.com/favicon.ico">
    <link rel="stylesheet" href="{{ site.assets }}/css/style.css">
    <link href="https://fonts.googleapis.com/css?family=Noto+Sans" rel="stylesheet">
    {% if page.font_awesome != false %}
    <link rel="stylesheet" href="{{ site.assets }}/css/font-awesome.min.css">
    {% endif %}
    {% if page.syntax_highlight != false %}
    <link rel="stylesheet" href="{{ site.assets }}/css/tomorrow-night-eighties.css">
    <link rel="stylesheet" href="https://code.cdn.mozilla.net/fonts/fira.css">
    {% endif %}
    {% if page.jquery == true %}
    <script src="{{ site.assets }}/scripts/jquery-3.1.0.min.js"></script>
    {% endif %}
  </head>