/*
 * Theme of Crisp Blog
 * Copyright(c) David Zhang, 2016
 */
* {
  box-sizing: border-box;
}
html {
  width: 100%;
  font-size: 16px;
}
@media (max-width: 40rem) {
  html {
    font-size: 12px;
  }
}
body {
  margin: 0;
  font-family: "Open Sans", "Hiragino Sans GB", "Microsoft Yahei", Helvetica, Arial, Courier, sans-serif;
  font-size: 1rem;
  -webkit-font-smoothing: antialiased;
  color: #333;
  word-wrap: break-word;
  text-align: center;
  height: 100%;
}
h1 {
  font-size: 1.8rem;
}
h2 {
  font-size: 1.6rem;
  color: #555;
}
h3 {
  font-size: 1.4rem;
  color: #555;
}
h4 {
  font-size: 1.2rem;
}
h5 {
  font-size: 1.0rem;
}
blockquote {
  border-left: 1px solid #aaaaaa;
  margin-left: 12px;
  padding-left: 8px;
}
a {
  text-decoration: none;
  /* color: #08c; */
  color: #333;
}
a:hover {
  text-decoration: underline;
}
ul li p {
  margin: 0;
}
table {
  border-collapse: collapse;
  width: 100%;
}
th {
  padding: .25rem;
  background-color: #f5f5f5;
}
td {
  padding: .25rem;
}
tr {
}
tr:hover {
  background-color: #f5f5f5;
}
/* content */
#content {
  margin: 0 auto;
  max-width: 40rem;
}
@media (max-width: 40rem) {
  #content {
    padding-left: .5rem;
    padding-right: .5rem;
  }
}
/* Menu */
.menu {
  border-bottom: .05rem solid #aaaaaa;
}
.menu-home {
  font-size: 3.2rem;
  padding-top: 3.25rem;
  padding-bottom: 3.2rem;
}
.menu-home a {
  text-decoration: none;
}
.menu-links {
  font-size: 0.8rem;
  height: 2rem;
  text-align: center;
  padding-bottom: 2.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
.menu-item {
  height: 2rem;
  padding-left: 1.6rem;
  padding-right: 1.6rem;
  text-align: center;
}
@media (max-width: 40rem) {
  .menu-home {
    font-size: 2.2rem;
    padding-top: 3.25rem;
    padding-bottom: 3.2rem;
  }
  .menu-item {
    padding-left: .5rem;
    padding-right: .5rem;
  }
}
.menu-item a {
  color: #bbbbbb;
}
.menu-active a {
  color: #bbbbbb;
  text-decoration: underline;
}
/* Article */
.article {
  text-align: left;
  margin-top: 2.4rem;
}
.article-head {
  text-align: center;
}
.article-title {
  font-size: 2.2rem;
}
.article-title a {
  text-decoration: none;
  color: #555;
}
.article-title a:hover {
  text-decoration: underline;
}
.article-date {
  font-size: 1.0rem;
  color: #bbbbbb;
}
.article-main {
  font-size: 1.0rem;
  margin-top: 1.2rem;
  margin-bottom: 1.2rem;
}
.article-main a{
  text-decoration: underline;
}
p {
  line-height: 1.6rem;
}
/* Tags */
.article-tag {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding-top: 1.4rem;
  border-top: .05rem solid #aaaaaa;
}
.tag-item {
  padding: .2rem;
  margin-right: .25rem;
  margin-bottom: .25rem;
  border: .05rem solid #bbbbbb;
  border-radius: .2rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.tag-item:hover {
  background-color: #aaaaaa;
  color: #ffffff;
}
.tag-item-name {
  margin-right: .5rem;
}
.tag-item-count {
  font-size: .75rem;
}
/* Archive */
.archive-main {
  margin-bottom: 1rem;
}
.archive-main a {
  text-decoration: none;
}
.archive-main a:hover {
  text-decoration: underline;
}
.archive-item {
  margin-top: .5rem;
  overflow: auto; /* clearfix */
}
.archive-year {
  margin-top: 2rem;
}
.archive-date {
  margin-top: 0;
  margin-bottom: 0;
  color: #bbbbbb;
}
@media (min-width: 40rem) {
  .archive-date {
    float: right;
    margin-left: 1rem;
  }
  .archive-item {
    margin-top: 0;
  }
}
/* disqus */
#disqus_thread {
}
#disqus_thread iframe {
  text-align: center;
}
/* footer */
footer {
  text-align: center;
  font-size: 1rem;
  overflow: hidden;
  margin-top: 3.5rem;
  margin-bottom: 1.2rem;
}
img {
  border: 0;
  max-width: 640px;
  max-height: 480px;
}
/* codes */
pre.highlight {
  border: .05rem solid #aaaaaa;
  border-radius: .2rem;
  font-family: Menlo, Monaco, "Source Code Pro", Consolas, Courier;
  /*overflow: scroll;*/
}
code.hljs {
  padding: .8rem;
}
/* inline codes */
code.highlighter-rouge {
  border: .05rem solid #aaaaaa;
  border-radius: .2rem;
  padding-left: .2rem;
  padding-right: .2rem;
}
code.highlighter-rouge:hover {
  color: white;
  background-color: #aaaaaa;
}
/* things & project */
.things-content {
  display: block;
}
.things-box {
  width: 100%;
}
.things-title {
  font-size: 1.2rem;
  border-bottom: .05rem solid #aaaaaa;
  padding-bottom: .2rem;
}
.things-list {
}
.things-link {
  margin-top: .4rem;
}
.things-link a {
  color: #bbbbbb;
}
.text-center {
  text-align: center;
}