/*
 * Theme of Crisp Home
 * Copyright(c) David Zhang, 2014
 * Powered by {less}
 */
body {
  margin: 0;
  font-family: "Hiragino Sans GB", "Microsoft Yahei", "Segoe UI", Helvetica, Arial, Verdana, Courier;
  font-size: 14px;
  color: #333;
  word-wrap: break-word;
  text-align: center;
}
#container {
  margin-left: auto;
  margin-right: auto;
  width: 860px;
  text-align: left;
}
#menu {
  font-size: 20px;
}
a {
  text-decoration: none;
  color: #08c;
}
a:hover {
  background-color: #08c;
  color: #ffffff;
}
ul li p {
  margin: 0;
}
.article {
  margin-top: 12px;
}
.article .article_head {
  position: relative;
  height: 32px;
  border-bottom: 1px solid #aaaaaa;
}
.article .article_head .article_title {
  position: absolute;
  left: 0;
  padding-top: 4px;
  font-size: 20px;
}
.article .article_head .article_date {
  position: absolute;
  right: 0;
  padding-top: 4px;
  font-size: 16px;
  text-align: right;
}
.article .article_main {
  margin-top: 4px;
  padding-bottom: 12px;
  font-size: 14px;
}
#disqus_thread {
  margin-top: 8px;
  padding-top: 8px;
}
footer {
  text-align: center;
  font-size: 18px;
  height: 36px;
  overflow: hidden;
}
#page {
  position: relative;
  margin-bottom: 8px;
  padding-top: 4px;
  border-top: 1px solid #bcb;
  font-size: 20px;
  height: 32px;
  text-align: center;
}
#page #next {
  position: absolute;
  right: 12px;
}
#page #prev {
  position: absolute;
  left: 12px;
}
img {
  border: 0;
}
pre {
  border: 1px solid #aaaaaa;
  border-radius: 2px;
  padding: 4px;
  font-size: 12px;
}
