/*
 * Theme of Crisp Blog
 * Copyright(c) David Zhang, 2014
 * Powered by {less}
 */
body {
  margin: 0;
  font-family: "Open Sans", "Hiragino Sans GB", "Microsoft Yahei", Helvetica, Arial, Courier;
  font-size: 14px;
  -webkit-font-smoothing: antialiased;
  color: #333;
  word-wrap: break-word;
  text-align: center;
}
h4 {
  font-size: 18px;
}
#menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 260px;
  height: 100%;
  background-color: #000000;
  text-align: left;
}
#menu #menu_home {
  font-size: 32px;
  text-align: right;
  margin-right: 20px;
  margin-top: 38px;
  margin-bottom: 44px;
}
#menu a {
  color: #bbbbbb;
}
#menu a:hover {
  color: #ffffff;
  text-decoration: none;
}
.menu_link {
  text-align: right;
  margin-right: 30px;
  font-size: 20px;
}
#container {
  margin-left: 280px;
  margin-right: 80px;
  text-align: left;
}
a {
  text-decoration: none;
  color: #08c;
}
a:hover {
  text-decoration: underline;
}
ul li p {
  margin: 0;
}
.article {
  margin-top: 40px;
}
.article_head {
}
.article_title {
  font-size: 32px;
}
.article_title a {
    text-decoration: none;
    color: black;
}
.article_title a:hover {
    text-decoration: underline;
}
.article_date {
  font-size: 16px;
}
.article_main {
  margin-top: 24px;
  padding-bottom: 62px;
  font-size: 14px;
}
#disqus_thread {
  margin-top: 8px;
  padding-top: 8px;
}
footer {
  text-align: center;
  font-size: 18px;
  height: 36px;
  overflow: hidden;
}
#page {
  position: relative;
  margin-bottom: 8px;
  padding-top: 4px;
  font-size: 18px;
  height: 32px;
  text-align: center;
}
#page #next {
  position: absolute;
  right: 12px;
}
#page #prev {
  position: absolute;
  left: 12px;
}
img {
  border: 0;
  width: 860px;
}
pre {
  border: 1px solid #aaaaaa;
  border-radius: 2px;
  padding: 4px;
  font-family: Menlo, "Source Code Pro", Consolas, Courier;
  font-size: 14px;
}
