<div id="menu">
  <div id="menu_home">
      <a href="/" style="color: #000000;">DAVID ZHANG</a>
  </div>
  <div id="menu_links">
    <div class="menu_item"><a href="/archive.html">ARCHIVE</a></div>
    <div class="menu_item"><a href="https://github.com/crispgm" target="_blank">GITHUB</a></div>
    <div class="menu_item"><a href="/things.html">THINGS</a></div>
    <div class="menu_item"><a href="/bio.html">BIO</a></div>
    <div class="menu_item"><a href="/about.html">ABOUT</a></div>
  </div>
</div>
