  <head>
    <meta charset="UTF-8">
    <meta name="keywords" content="{{ site.keywords | join: ', ' }}"/>
    <meta name="description" content="{{ site.description }}"/>
    <title>{{page.title}} - Crisp Blog</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" type="image/x-icon" href="https://assets-cdn.github.com/favicon.ico">
    <link rel="stylesheet" href="/css/style.css" media="screen and (min-width: 801px)">
    <link rel="stylesheet" href="/css/mobile.css" media="screen and (max-width: 800px)">
    <link rel="stylesheet" href="/css/zenburn.css">
    <link rel="stylesheet" href="/css/opensans.css">
    <link rel="stylesheet" href="/css/font-awesome.min.css">
    <script src="/script/highlight.pack.js"></script>
    <script src="/script/jquery-3.1.0.min.js"></script>
    <script>hljs.initHighlightingOnLoad();</script>
  </head>