<head>
  <meta charset="UTF-8">
  <meta name="keywords" content="Crisp, Crispgm, Crisp Blog, David Zhang, Crisp博客, yeyeko, 椰椰子"/>
  <meta name="description" content="{{site.description}}"/>
  <title>{{page.title}} - Crisp Blog</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="icon" type="image/x-icon" href="https://assets-cdn.github.com/favicon.ico">
  <link rel="stylesheet" href="/css/style.css" media="screen and (min-width: 801px)">
  <link rel="stylesheet" href="/css/mobile.css" media="screen and (max-width: 800px)">
  <link rel="stylesheet" href="/css/zenburn.css">
  <link rel="stylesheet" href="/css/opensans.css">
  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
  <script src="/script/highlight.pack.js"></script>
  <script src="/script/jquery-2.0.3.min.js"></script>
  <script>hljs.initHighlightingOnLoad();</script>
</head>
