---
---
/*
 * Theme of Crisp Blog
 * Copyright(c) David Zhang, 2017
 */

$breakpoint: 38rem;

$bg-color: #fbfbfb;
$border-color: #aaa;
$code-bg-color: #2d2d2d;

$main-color: #333;
$sub-color: #555;
$light-color: #bbb;
$link-color: #06c;

@import "main";
@import "menu";
@import "footer";
@import "page";
@import "article";
@import "code-highlight";
@import "archive";
@import "things";
