---
layout: default
---
<div class="article">
  <div class="article-head">
    <div class="article-title">{{page.title}}</div>
    <div class="article-date">{{page.date | date:"%B %d, %Y"}}</div>
  </div>
  <div class="article-main">
    {{ content }}
  </div>
  {% if page.tags.size > 0 %}
  <div class="article-tag">
    {% for tag in page.tags %}
    <div class="tag-item">
    {{ tag }}
    </div>
    {% endfor %}
  </div>
  {% endif %}
  <div id="disqus_thread"></div>
  <script>
  var disqus_config = function () {
      this.page.url = '{{ site.url }}{{ page.permalink }}';
      this.page.identifier = '{{ page.permalink }}';
      this.page.title = '{{ page.title }}';
  };
  (function() {
    var d = document, s = d.createElement('script');
      s.src = '//crispgm.disqus.com/embed.js';
      s.setAttribute('data-timestamp', +new Date());
      (d.head || d.body).appendChild(s);
  })();
  </script>
  <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript" rel="nofollow">comments powered by Disqus.</a></noscript>
</div>
