---
layout: default
---

<div id="container">
  <div class="article">
    <div class="article_head">
      <div class="article_title">{{page.title}}</div>
      <div class="article_date">{{page.date | date:"%Y/%m/%d"}}</div>
    </div>
    <div class="article_main">
      {{ content }}
    </div>
    {% if page.tags.size > 0 %}
    <div class="article_tag">
      {% for tag in page.tags %}
      <div class="tag_item">
      {{ tag }}
      </div>
      {% endfor %}
    </div>
    {% endif %}
    {% include disqus.html %}
  </div>
</div>
