---
layout: default
title: Home
---

{% assign post = site.posts.first %}
{% assign content = post.content %}
<div id="container">
  <div class="article">
  <div class="article_head">
    <div class="article_title"><a href="{{post.permalink}}">{{post.title}}</a></div>
    <div class="article_date">{{post.date | date:"%Y/%m/%d"}}</div>
  </div>
  <div class="article_main">
    {{ content }}
  </div>
  {% if post.tags.size > 0 %}
    <div class="article_tag">
    {% for tag in post.tags %}
    <div class="tag_item">
    {{ tag }}
    </div>
    {% endfor %}
    </div>
  {% endif %}
  </div>
  <p><a href="/archive.html">More...</a></p>
</div>
