// Theme of Crisp Blog
// Copyright(c) David Zhang, 2017

.archive-main {
  margin: 1rem 0;

  a {
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }

  .archive-item {
    line-height: 1.8rem;
    margin-top: .6rem;
    overflow: auto;

    .archive-date {
      color: $light-color;
      margin: 0;
    }
  }

  @media (min-width: $breakpoint) {
    .archive-item {
      margin-top: 0;

      .archive-date {
        float: right;
        margin-left: 1rem;
      }
    }
  }
}

.archive-old {
  color: $light-color;

  a {
    color: $light-color;
  }
}
