/*
 * Theme of Crisp Blog
 * Copyright(c) David Zhang, 2017
 *
 * Style for article
 */

.article {
  text-align: left;
  margin-bottom: 2.0rem;

  .article-head {
    text-align: left;
    margin-top: 4.2rem;
    margin-bottom: 4.2rem;

    .article-title {
      font-size: 2rem;
    }
    .article-date {
      font-size: 1.0rem;
      color: #bbbbbb;
      margin-top: 1rem;
    }
  }
  .article-main {
    font-size: 1.0rem;
    margin-top: 1.2rem;
    margin-bottom: 1.2rem;

    p {
      margin-top: 1.5rem;
      line-height: 1.8rem;
    }

    li {
      p {
        margin: 0;
        line-height: 1.8rem;
      }
    }
  }
  /* Tags */
  .article-tag {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-bottom: 2rem;

    .tag-item {
      padding: .2rem;
      margin-right: .25rem;
      margin-bottom: .25rem;
      display: flex;
      align-items: center;
      justify-content: space-between;

      &:before {
        content: "#";
        padding-right: .2rem;
      }

      .tag-item-name {
        margin-right: .5rem;
      }
      .tag-item-count {
        font-size: .75rem;
      }
    }
  }
}

/* disqus */
#disqus_thread {
  iframe {
    text-align: center;
  }
}
