/*
 * Theme of Crisp Blog
 * Copyright(c) David Zhang, 2017
 *
 * Style for code higlight
 */

pre.highlight {
  border: .05rem solid $border-color;
  border-radius: .2rem;
  font-family: Menlo, Monaco, "Source Code Pro", Consolas, Courier;
  font-size: .85rem;
}
code.hljs {
  padding: .8rem;
}
/* inline codes */
code.highlighter-rouge {
  font-size: .85rem;
  border: .1rem solid #aaa;
  border-radius: .2rem;
  padding: .1rem .3rem .1rem .3rem;
}
