/*
 * Theme of Crisp Blog
 * Copyright(c) David Zhang, 2017
 *
 * Style for code higlight
 */

pre,
code {
  font-family: "Source Code Pro", Menlo, Monaco, Consolas, Courier, monospace;
  hyphens: none;
}
pre.highlight {
  border: 1px solid #2d2d2d;
  border-radius: .2rem;
  font-size: .9rem;
}
code.hljs {
  padding: .4rem;
}
/* inline codes */
code.highlighter-rouge {
  font-size: .9rem;
  font-weight: bold;
  border: 1px solid #aaa;
  border-radius: .2rem;
  padding: .1rem .3rem .1rem .3rem;
}
