/*
 * Theme of Crisp Blog
 * Copyright(c) David Zhang, 2017
 *
 * Style for contact info
 */

#contact {
  text-align: left;
  font-size: 1rem;
  margin-bottom: 3rem;

  a {
    color: #333;
    padding-left: .8rem;
  }

  &:hover {
    a {
      color: #aaa;
      &:hover {
        color: #333;
      }
    }
  }

  #copyright {}

  #links {
    float: right;
  }
}

@media (max-width: $breakpoint) {
  #contact {
    #copyright {
      margin-left: .6rem;
      padding-top: 1rem;
      width: 100%;
    }

    #links {
      margin-left: -0.1rem;
      width: 100%;
      float: none;
    }
  }
}
