/*
 * Theme of Crisp Blog
 * Copyright(c) David Zhang, 2017
 *
 * Style for contact info
 */

#contact {
  text-align: left;
  font-size: 1rem;
  margin-bottom: 3rem;

  a {
    color: #333;
    padding-left: .4rem;
    padding-right: .4rem;
  }

  &:hover {
    a {
      color: #aaa;
      &:hover {
        color: #333;
      }
    }
  }

  #copyright {}

  #links {
    float: right;
  }
}
