// Theme of Crisp Blog
// Copyright(c) David Zhang, 2017

footer {
  border-top: 1px dotted $border-color;
  font-size: 1rem;
  margin-top: 2.4rem;
  overflow: hidden;
  text-align: center;
}

.contact {
  font-size: 1rem;
  margin-bottom: 1rem;
  text-align: left;

  a {
    color: $main-color;
    padding-left: .8rem;

    &:first-of-type {
      padding-left: .2rem;
    }
  }

  &:hover {
    a {
      color: $light-color;

      &:hover {
        color: $main-color;
      }
    }
  }

  .contact-links {
    float: right;
  }
}

@media (max-width: $breakpoint) {
  .contact {
    .contact-links {
      float: left;
      margin: .4rem 0 0 -.1rem;
      text-align: left;
      width: 100%;
    }
  }
}
