/*
 * Theme of Crisp Blog
 * Copyright(c) David Zhang, 2017
 *
 * Style for main layout
 */

* {
  box-sizing: border-box;
}

html {
  width: 100%;
  font-size: 16px;
}
@media (max-width: $breakpoint) {
  html {
    font-size: 12px;
  }
}

body {
  margin: 0;
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, "Hiragino Sans GB", "Microsoft Yahei", sans-serif;
  font-size: 1rem;
  -webkit-font-smoothing: antialiased;
  color: #333;
  background-color: $bg-color;
  word-wrap: break-word;
  text-align: center;
}
body ::selection {
  background-color: #333;
  color: $bg-color;
}

h1 {
  font-size: 1.2rem;
  font-weight: bold;
  text-align: center;
}
h2 {
  font-size: 1.1rem;
  font-weight: bold;
  text-align: center;
}
h3 {
  font-size: 1.1rem;
  font-weight: bold;
  text-align: left;
}
h4 {
  font-size: 1.1rem;
  font-weight: bold;
  color: #555;
  text-align: left;
}
h5 {
  font-size: 1.0rem;
  font-weight: bold;
  color: #aaa;
  text-align: left;
}
blockquote {
  border-left: 1px solid $border-color;
  margin-left: 12px;
  padding-left: 8px;
}
a {
  text-decoration: none;
  color: #06c;
}
a:hover {
  text-decoration: underline;
}
ul {
  p {
    margin: 0;
  }
}
li {
  margin: 0;
  line-height: 1.5;
}

table {
  border-collapse: collapse;
  width: 100%;

  tr {
    &:hover {
      background-color: #f5f5f5;
    }
    th {
      padding: .25rem;
      background-color: #f5f5f5;
    }
    td {
      padding: .25rem;
    }
  }
}

p {
  line-height: 1.6rem;
}

sup {
  vertical-align: auto;
  font-size: 0.6rem;
  line-height: 0.6rem;
}

/* Content Wrapper */
#content {
  margin: 0 auto;
  max-width: $breakpoint;
}
@media (max-width: $breakpoint) {
  #content {
    padding-left: .5rem;
    padding-right: .5rem;
  }
}

/* Menu */
.menu {
  border-bottom: .1rem solid $border-color;

  .menu-home {
    font-size: 3.2rem;
    padding-top: 3.25rem;
    padding-bottom: 3.2rem;
    a {
      color: #333;
      text-decoration: none;
    }
  }

  .menu-links {
    font-size: 0.875rem;
    height: 2rem;
    text-align: center;
    padding-bottom: 1.8rem;
    display: flex;
    align-items: center;
    justify-content: center;

    .menu-item {
      height: 2rem;
      padding-left: 1.6rem;
      padding-right: 1.6rem;
      text-align: center;
      a {
        color: #bbbbbb;
        font-weight: bold;
        &:hover {
          color: #000;
          text-decoration: none;
        }
      }
    }

    .menu-active {
      a {
        color: #000;
        text-decoration: none;
      }
    }
  }

  @media (max-width: $breakpoint) {
    .menu-home {
      font-size: 2.2rem;
      padding-top: 3.25rem;
      padding-bottom: 3.2rem;
    }
    .menu-item {
      padding-left: .5rem;
      padding-right: .5rem;
    }
  }
}

/* footer */
footer {
  text-align: center;
  font-size: 1rem;
  overflow: hidden;
  margin-top: 3.5rem;
  margin-bottom: 1.2rem;
}
img {
  border: 0;
  max-width: $breakpoint;
}
@media (max-width: $breakpoint) {
  img {
    max-width: 100%;
  }
}
