// Theme of Crisp Blog
// Copyright(c) David Zhang, 2017

.menu {
  background-color: $sub-color;
  color: $bg-color;
  margin: 1.5rem 0;
  padding: .8rem;
  text-align: left;

  .menu-home {
    font-size: 1.4rem;
    padding-top: .1rem;
    width: 100%;

    a {
      color: $bg-color;
      text-decoration: none;
    }
  }

  .menu-links {
    margin-top: 1rem;
  }

  .menu-item {
    font-size: 1rem;
    margin-top: .6rem;
    padding-right: .8rem;
    text-align: left;

    a {
      color: $light-color;
      text-decoration: none;

      &:hover {
        text-decoration: underline;
      }
    }
  }

  .menu-active {
    a {
      text-decoration: underline;
    }
  }
}

@media (max-width: $breakpoint) {
  .menu {
    margin: 0;

    .menu-links {
      display: flex;
      margin: 0;
    }

    .menu-item {
      margin: 0;
    }
  }
}