// Theme of Crisp Blog
// Copyright(c) David Zhang, 2017

.page {
  text-align: left;

  .page-main {
    .page-title {
      color: $grey-8;
      font-size: 1.4rem;
      margin-top: .8rem;
      padding-top: .8rem;
      text-align: left;
    }
  }
}

@media (max-width: $breakpoint) {
  .page {
    .page-main {
      .page-title {
        padding: 0;
      }
    }
  }
}
