/*
 * Theme of Crisp Blog
 * Copyright(c) David Zhang, 2017
 *
 * Style for things & project list
 */

/* things & project */
.things {
  .things-item {
    display: flex;
    width: 100%;
    margin-bottom: 1.0rem;
    padding-bottom: 1.0rem;
    border-bottom: .1rem solid #bbbbbb;

    .things-title {
      font-size: 1.0rem;
      color: #555;
    }
    .things-link {
      font-size: .8rem;
      padding-top: .2rem;
      line-height: 1.2rem;
    }
    .things-list {
      font-size: .9rem;
      line-height: 1.4rem;
    }
  }
  ul {
    margin: 0;
  }
}

@media (max-width: $breakpoint) {
  .things {
    .things-item {
      display: block;
      .things-link {
        display: flex;
        padding-top: .2rem;
        padding-bottom: .2rem;
        a {
          padding-right: .2rem;
        }
      }
    }
  }
}

#project {
  .things-item {
    .things-title {
      min-width: 12.4rem;
    }
    .things-link {
      min-width: 8rem;
    }
  }
}

#favorite {
  .things-item {
    .things-title {
      min-width: 8rem;
    }
  }
}