/*
 * Theme of Crisp Blog
 * Copyright(c) David Zhang, 2017
 */
.text-center {
  text-align: center; }

/*
 * Theme of Crisp Blog
 * Copyright(c) David Zhang, 2017
 *
 * Style for main layout
 */
* {
  box-sizing: border-box; }

html {
  width: 100%;
  height: 100%;
  font-size: 18px; }

@media (max-width: 36rem) {
  html {
    font-size: 12px; } }
body {
  margin: 0;
  height: 100%;
  font-family: "Noto Sans", "Helvetica Neue", "Segoe UI", Helvetica, Arial, "Hiragino Sans GB", "Microsoft Yahei", sans-serif;
  font-size: 1rem;
  -webkit-font-smoothing: antialiased;
  color: #333;
  background-color: #fbfbfb;
  word-wrap: break-word;
  text-align: center; }

body ::selection {
  background-color: #06c;
  color: #fbfbfb; }

h1 {
  font-size: 1.6rem;
  color: #555;
  font-weight: bold;
  margin-top: 2.8rem;
  text-align: center; }

h2 {
  font-size: 1.4rem;
  color: #555;
  font-weight: bold;
  margin-top: 2.8rem;
  text-align: center; }

h3 {
  font-size: 1.2rem;
  color: #555;
  font-weight: bold;
  text-align: left;
  margin-top: 2.8rem;
  margin-bottom: 1rem; }

h4 {
  font-size: 1.2rem;
  color: #555;
  text-align: left;
  margin-top: 2rem;
  margin-bottom: .6rem; }

h5 {
  font-size: 1.0rem;
  font-weight: bold;
  color: #aaa;
  text-align: left;
  margin-top: 2rem;
  margin-bottom: .6rem; }

blockquote {
  border-left: 0.2rem solid #aaa;
  margin-left: 1rem;
  padding-left: 1rem; }

a {
  text-decoration: none;
  color: #06c; }

a:hover {
  text-decoration: underline; }

ul p {
  margin: 0; }

li {
  margin-left: -1rem;
  line-height: 2rem; }

table {
  border-collapse: collapse;
  width: 100%; }
  table tr:hover {
    background-color: #f5f5f5; }
  table tr th {
    padding: .25rem;
    background-color: #f5f5f5; }
  table tr td {
    padding: .25rem; }

p {
  line-height: 2.4rem; }

sup {
  vertical-align: auto;
  font-size: 0.6rem;
  line-height: 0.6rem; }

hr {
  width: 3rem;
  margin-top: 3rem;
  margin-bottom: 3rem; }

/* Content Wrapper */
.content {
  width: 100%;
  text-align: center;
  border-bottom: 1px solid #aaa; }

.content-wrapper {
  margin: 0 auto;
  max-width: 36rem; }

@media (max-width: 36rem) {
  .content-wrapper {
    padding-left: .5rem;
    padding-right: .5rem; } }
/* Menu */
.menu {
  padding-top: 1.2rem;
  padding-bottom: 1rem;
  text-align: left; }
  .menu .menu-home {
    font-size: 1.2rem;
    height: 2rem;
    line-height: 2rem; }
    .menu .menu-home a {
      color: #555;
      text-decoration: none; }
  .menu .menu-bars {
    display: none; }
  .menu .menu-links {
    float: right;
    height: 2rem;
    line-height: 2rem;
    font-size: 0.9rem;
    text-align: center;
    display: flex;
    align-items: flex-start; }
    .menu .menu-links .menu-item {
      height: 2rem;
      padding-left: 1.2rem;
      text-align: center; }
    .menu .menu-links .menu-active a {
      color: #555;
      text-decoration: none; }
  @media (max-width: 36rem) {
    .menu .menu-bars {
      display: block;
      float: right;
      height: 2rem;
      line-height: 2rem;
      font-size: 1.2rem;
      padding-right: .8rem; }
      .menu .menu-bars a {
        color: #555;
        text-decoration: none; }
    .menu .menu-links {
      display: none; }
    .menu .menu-dropdown {
      display: block;
      position: absolute;
      right: 1.3rem;
      top: 4rem;
      border-radius: 8px;
      padding-top: .4rem; }
      .menu .menu-dropdown .menu-item {
        background-color: #efefef;
        text-align: left;
        height: 2.4rem;
        line-height: 2.4rem;
        font-size: 1.6rem;
        padding-left: .8rem;
        padding-right: .8rem;
        padding-bottom: .4rem; } }

.index-wrapper {
  margin: 0 auto;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center; }
  .index-wrapper .index {
    line-height: 200%; }
    .index-wrapper .index #name {
      font-size: 2.4rem;
      margin-bottom: .6rem; }
    .index-wrapper .index #links {
      font-size: 1rem; }
      .index-wrapper .index #links a {
        color: #aaa;
        padding-right: .8rem; }
        .index-wrapper .index #links a:last-child {
          padding-right: 0; }

@media (max-width: 36rem) {
  .index-wrapper .index {
    font-size: 1.2rem; } }
/*
 * Theme of Crisp Blog
 * Copyright(c) David Zhang, 2017
 *
 * Style for article
 */
.article {
  text-align: left;
  margin-top: 2.0rem;
  margin-bottom: 3.0rem;
  /* Tags */ }
  .article .article-head {
    text-align: center;
    margin-top: 4.2rem;
    margin-bottom: 4.2rem; }
    .article .article-head .article-title {
      font-size: 2rem; }
    .article .article-head .article-date {
      font-size: 1.0rem;
      color: #bbbbbb; }
  .article .article-main {
    font-size: 1.0rem;
    margin-top: 1.2rem;
    margin-bottom: 1.2rem; }
  .article .article-tag {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-bottom: 2rem; }
    .article .article-tag .tag-item {
      padding: .2rem;
      margin-right: .25rem;
      margin-bottom: .25rem;
      display: flex;
      align-items: center;
      justify-content: space-between; }
      .article .article-tag .tag-item:before {
        content: "#";
        padding-right: .2rem; }
      .article .article-tag .tag-item .tag-item-name {
        margin-right: .5rem; }
      .article .article-tag .tag-item .tag-item-count {
        font-size: .75rem; }

/* Archive */
.archive-main {
  margin-bottom: 1rem; }
  .archive-main a {
    text-decoration: none; }
    .archive-main a:hover {
      text-decoration: underline; }
  .archive-main .archive-item {
    margin-top: .5rem;
    line-height: 1.8rem;
    overflow: auto;
    /* clearfix */ }
    .archive-main .archive-item .archive-date {
      margin-top: 0;
      margin-bottom: 0;
      color: #bbbbbb; }
  @media (min-width: 36rem) {
    .archive-main .archive-item {
      margin-top: 0; }
      .archive-main .archive-item .archive-date {
        float: right;
        margin-left: 1rem; } }

.archive-old {
  color: #bbbbbb; }
  .archive-old a {
    color: #bbbbbb; }

/* disqus */
#disqus_thread iframe {
  text-align: center; }

/* footer */
footer {
  text-align: center;
  font-size: 1rem;
  overflow: hidden;
  margin-top: 3.5rem;
  margin-bottom: 1.2rem; }

img {
  border: 0;
  max-width: 36rem; }

@media (max-width: 36rem) {
  img {
    max-width: 100%; } }
/*
 * Theme of Crisp Blog
 * Copyright(c) David Zhang, 2017
 *
 * Style for code higlight
 */
pre,
code {
  font-family: "Fira Mono", Menlo, Monaco, Consolas, Courier; }

pre.highlight {
  border: 1px solid #2d2d2d;
  border-radius: .2rem;
  font-size: 1rem; }

code.hljs {
  padding: .8rem; }

/* inline codes */
code.highlighter-rouge {
  font-size: 1rem;
  font-weight: bold;
  border: 1px solid #aaa;
  border-radius: .2rem;
  padding: .2rem .3rem .2rem .3rem; }

/*
 * Theme of Crisp Blog
 * Copyright(c) David Zhang, 2017
 *
 * Style for credit list
 */
#credit-list {
  display: flex;
  flex-wrap: wrap; }
  #credit-list .credit-item {
    width: 12rem;
    text-align: center;
    margin-top: 1rem; }
    #credit-list .credit-item a {
      color: #333; }
      #credit-list .credit-item a:hover {
        text-decoration: none; }
        #credit-list .credit-item a:hover .credit-name {
          color: #06c; }
    #credit-list .credit-item .credit-reason {
      font-size: 1rem; }
    #credit-list .credit-item .credit-name {
      font-size: 1rem;
      padding-top: 1rem;
      padding-bottom: 1rem;
      font-weight: bold; }

@media (max-width: 36rem) {
  #credit-list {
    display: block; }
    #credit-list .credit-item {
      width: 100%;
      text-align: left; }
      #credit-list .credit-item .credit-reason {
        display: inline-block;
        padding-top: .25rem; }
      #credit-list .credit-item .credit-name {
        padding: 0; } }
/*
 * Theme of Crisp Blog
 * Copyright(c) David Zhang, 2017
 *
 * Style for contact info
 */
#contact {
  text-align: left;
  font-size: 1rem;
  margin-bottom: 3rem; }
  #contact a {
    color: #333;
    padding-left: .4rem;
    padding-right: .4rem; }
  #contact:hover a {
    color: #aaa; }
    #contact:hover a:hover {
      color: #333; }
  #contact #links {
    float: right; }

/*
 * Theme of Crisp Blog
 * Copyright(c) David Zhang, 2017
 *
 * Style for things & project list
 */
/* things & project */
.things .things-item {
  display: flex;
  width: 100%;
  margin-bottom: 1.0rem;
  padding-bottom: 1.0rem;
  border-bottom: .1rem solid #bbbbbb; }
  .things .things-item .things-title {
    font-size: 1.1rem;
    color: #555; }
  .things .things-item .things-link {
    font-size: .8rem;
    padding-top: .2rem; }
.things ul {
  margin: 0; }

@media (max-width: 36rem) {
  .things .things-item {
    display: block; }
    .things .things-item .things-link {
      display: flex;
      padding-top: .2rem;
      padding-bottom: .2rem; }
      .things .things-item .things-link a {
        padding-right: .2rem; } }
#project .things-item .things-title {
  min-width: 12.4rem; }
#project .things-item .things-link {
  min-width: 8rem; }

#favorite .things-item .things-title {
  min-width: 8rem; }
