/*
 * Theme of Crisp Blog
 * Copyright(c) David Zhang, 2017
 */
* {
  box-sizing: border-box; }

html {
  font-size: 16px;
  height: 100%;
  width: 100%; }

@media (max-width: 38rem) {
  html {
    font-size: 14px; } }
body {
  background-color: #f8f9fa;
  color: #212529;
  font-family: -apple-system, BlinkMacSystemFont, "Noto Sans", "Segoe UI", Roboto, Helvetica, Arial, "Hiragino Sans GB", "Microsoft Yahei", sans-serif;
  font-size: 1rem;
  -webkit-font-smoothing: antialiased;
  height: 100%;
  margin: 0;
  text-align: center;
  word-wrap: break-word; }
  body ::selection {
    background-color: #329af0;
    color: #f8f9fa; }

a {
  color: #329af0;
  text-decoration: none; }
  a:hover {
    text-decoration: underline; }

.content {
  text-align: center;
  width: 100%; }

.content-wrapper {
  margin: 0 auto;
  width: 38rem; }

@media (max-width: 38rem) {
  .content-wrapper {
    padding-left: .5rem;
    padding-right: .5rem;
    width: 100%; } }
img {
  border: 0;
  max-width: 38rem; }

@media (max-width: 38rem) {
  img {
    max-width: 100%; } }
.menu {
  display: flex;
  justify-content: space-between;
  padding-bottom: .4rem;
  padding-top: 1.2rem;
  text-align: left; }
  .menu .menu-home {
    font-size: 1.2rem; }
    .menu .menu-home a {
      color: #343a40;
      text-decoration: none; }
  .menu .menu-links {
    display: flex;
    float: right;
    margin-top: 0; }
  .menu .menu-item {
    font-size: 1rem;
    padding: .1rem .4rem;
    text-align: left; }
    .menu .menu-item:first-of-type {
      padding-left: 0; }
    .menu .menu-item:last-of-type {
      padding-right: 0; }
    .menu .menu-item a {
      color: #adb5bd;
      text-decoration: none; }
      .menu .menu-item a:hover {
        text-decoration: underline; }
  .menu .menu-active a {
    text-decoration: underline; }
  @media (max-width: 38rem) {
    .menu {
      display: block;
      padding-top: .4rem; }
      .menu .menu-home {
        font-size: 1.8rem;
        padding: .4rem 0; }
      .menu .menu-links {
        float: left;
        margin-bottom: 1.8rem;
        width: 100%; } }

footer {
  font-size: 1rem;
  margin-top: 2.4rem;
  overflow: hidden;
  text-align: center; }
  footer .content-wrapper {
    border-bottom: 0; }

@media (max-width: 38rem) {
  footer .content-wrapper {
    padding-left: 0; } }
.contact {
  font-size: 1rem;
  margin-bottom: 3rem;
  text-align: left; }
  .contact a {
    color: #212529;
    padding-left: .8rem; }
  .contact:hover a {
    color: #adb5bd; }
    .contact:hover a:hover {
      color: #212529; }
  .contact .contact-links {
    float: right; }

@media (max-width: 38rem) {
  .contact .contact-copyright {
    margin-left: .6rem;
    padding-top: 1rem;
    width: 100%; }
  .contact .contact-links {
    float: none;
    margin-left: -.1rem;
    width: 100%; } }
.page {
  text-align: left; }
  .page .page-main .page-title {
    color: #343a40;
    font-size: 1rem;
    font-weight: 700;
    margin-top: 1.2rem;
    padding: .8rem 0;
    text-align: left; }

.article {
  margin-bottom: 2rem;
  text-align: left; }
  .article .article-head {
    margin-bottom: 4.2rem;
    margin-top: 4.2rem;
    text-align: left; }
    .article .article-head .article-title {
      color: #343a40;
      font-size: 2.2rem; }
    .article .article-head .article-date {
      color: #adb5bd;
      font-size: 1rem;
      margin-top: 1rem; }
  .article .article-main {
    font-size: 1rem;
    margin-bottom: 3.2rem;
    margin-top: 1.2rem; }
  .article .article-comment iframe {
    text-align: center; }

h1 {
  color: #343a40;
  font-size: 2.4rem;
  font-weight: 400;
  padding-bottom: 1.2rem;
  padding-top: 1.6rem;
  text-align: left; }

h2 {
  color: #343a40;
  font-size: 2rem;
  font-weight: 400;
  padding-bottom: 1.2rem;
  padding-top: 1.4rem;
  text-align: left; }

h3 {
  color: #343a40;
  font-size: 1.5rem;
  font-weight: 500;
  padding-bottom: 1.2rem;
  padding-top: 1.2rem;
  text-align: left; }

h4 {
  color: #343a40;
  font-size: 1.2rem;
  font-weight: 600;
  padding-bottom: .8rem;
  padding-top: .8rem;
  text-align: left; }

h5 {
  color: #343a40;
  font-size: 1rem;
  font-weight: 700;
  padding-bottom: 0;
  padding-top: .8rem;
  text-align: left; }

blockquote {
  border-left: 0.2rem solid #dee2e6;
  margin-left: 0;
  padding-left: 1rem; }

p {
  hyphens: auto;
  line-height: 1.8rem;
  margin-top: 1.5rem; }

sup {
  font-size: .6rem;
  line-height: .6rem;
  vertical-align: auto; }

hr {
  margin-bottom: 3rem;
  margin-top: 3rem;
  width: 3rem; }

ul p {
  margin: 0; }
ul li {
  line-height: 1.8rem;
  margin-left: -1rem; }
  ul li p {
    line-height: 1.8rem;
    margin: 0; }

table {
  border-collapse: collapse;
  width: 100%; }
  table tr:hover {
    background-color: #adb5bd; }
  table tr th {
    background-color: #adb5bd;
    padding: .2rem .4rem; }
  table tr td {
    padding: .2rem .4rem; }

pre,
code {
  font-family: "Source Code Pro", Menlo, Monaco, Consolas, Courier, monospace;
  hyphens: none; }

pre.highlight {
  border: 1px solid #495057;
  border-radius: 4px;
  font-size: .9rem; }

code.hljs {
  padding: .4rem; }

code.highlighter-rouge {
  border: 1px solid #dee2e6;
  border-radius: .2rem;
  font-size: .9rem;
  font-weight: bold;
  padding: .1rem .3rem; }

.archive-main {
  margin: 1rem 0; }
  .archive-main a {
    text-decoration: none; }
    .archive-main a:hover {
      text-decoration: underline; }
  .archive-main .archive-item {
    line-height: 1.8rem;
    margin-top: .6rem;
    overflow: auto; }
    .archive-main .archive-item .archive-date {
      color: #adb5bd;
      font-size: .8rem;
      margin: 0; }

.archive-more {
  color: #adb5bd; }
  .archive-more a {
    color: #adb5bd; }

.things {
  margin-top: 1rem; }
  .things .things-item {
    border-bottom: 1px solid #dee2e6;
    display: flex;
    margin-bottom: 1rem;
    padding-bottom: 1rem;
    width: 100%; }
    .things .things-item .things-title {
      color: #343a40;
      font-size: 1rem;
      min-width: 12.4rem; }
    .things .things-item .things-link {
      font-size: .8rem;
      line-height: 1.2rem;
      min-width: 8rem;
      padding-top: .2rem; }
    .things .things-item .things-list {
      font-size: .9rem;
      line-height: 1.4rem; }
  .things ul {
    margin: 0; }

@media (max-width: 38rem) {
  .things .things-item {
    display: block; }
    .things .things-item .things-link {
      display: flex;
      padding: .2rem 0; }
      .things .things-item .things-link a {
        padding-right: .2rem; } }
