<!DOCTYPE html>
<html>
  {% include head.html %}
  <body>
    <div class="progress-bar"></div>
    <div class="wrapper blog-wrapper content-wrapper">
      <div class="article">
        <div class="article-menu">
          <div class="article-home">
            <a href="/">DAVID ZHANG</a>
          </div>
          <div class="article-back">
            <a href="/blog.html"><< Back</a>
          </div>
        </div>
        <div class="article-head">
          <div class="article-title">
            {{ page.title }}
          </div>
          <div class="article-date">
            <time datetime="{{ page.date }}">{{ page.date | date:"%B %d, %Y" }}</time>
          </div>
        </div>
        <div class="article-main">
          {{ content }}
        </div>
        <div class="article-share">
          <a href="https://twitter.com/share?url={{ page.permalink | absolute_url | url_encode }}&text={{ page.title | url_encode }}">
            <i class="icon-twitter"></i>
          </a>
          {% capture tg_share %}https://t.me/iv?url={{ page.permalink | absolute_url | url_encode }}&rhash=a3e6c7b51eec6a{% endcapture %}
          <a href="tg://msg_url?url={{ tg_share | url_encode }}">
            <i class="icon-telegram"></i>
          </a>
          <a href="https://www.buymeacoffee.com/crispgm">
            <i class="icon-coffee"></i>
          </a>
        </div>
        <div id="disqus_thread" class="article-comment"></div>
        <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript" rel="nofollow">comments powered by Disqus.</a></noscript>
      </div>
    </div>
    {% include footer.html %}
    {% include syntax_highlight.html %}
    {% include disqus.html %}
  </body>
  {% include progress.html %}
  {% include google_analytics.html %}
</html>
