#disqus_thread {
  margin-top: 3rem;
}
/* codes */
pre {
  font-size: .85rem;
}
code {
  font-family: Menlo, Monaco, "Source Code Pro", Consolas, Courier;
  padding-left: .5rem;
  padding-right: .5rem;
  border: .05rem solid #aaaaaa;
  border-radius: .2rem;
}