/*
 * Theme of Crisp Wiki
 * Copyright(c) David Zhang, 2016
 */
* {
  box-sizing: border-box;
}
html {
  width: 100%;
  font-size: 16px;
}
@media (max-width: 42rem) {
  html {
    font-size: 12px;
  }
}
body {
  margin: 0;
  font-family: "Helvetica Neue", Helvetica, Arial, "Hiragino Sans GB", "Microsoft Yahei", sans-serif;
  font-size: 1rem;
  -webkit-font-smoothing: antialiased;
  color: #333;
  background-color: #fbfbfb;
  word-wrap: break-word;
  text-align: center;
  height: 100%;
}
footer {
  text-align: center;
  font-size: 1rem;
  overflow: hidden;
  margin-top: 2rem;
  margin-bottom: 1.2rem;
}
a {
  text-decoration: none;
  color: #06c;
}
a:hover {
  text-decoration: underline;
}
.container {
  max-width: 42rem;
  margin-left: auto;
  margin-right: auto;
  text-align: left;
  margin-bottom: 3rem;
}
@media (max-width: 42rem) {
  .container {
    padding-left: .4rem;
    padding-right: .4rem;
  }
}
.menu {
  padding-top: 2rem;
  padding-left: 1rem;
}
.dropdown {
  display: flex;
  text-align: center;
}
.dropdown-button {
  display: none;
  color: #06c;
  font-size: 1.25rem;
  margin-right: 1rem;
}
.dropdown-button a {
  color: #06c;
  text-decoration: none;
}
.dropdown-button:first-child {
  display: block;
}
.dropdown-show {
  display: block;
}
.section {
  text-align: left;
  margin-top: 2rem;
}
@media (max-width: 42rem) {
  .section {
    padding-left: .4rem;
  }
}
.section-wrap {
  margin-top: 1rem;
  background-color: #ffffff;
  box-shadow: 0 .1rem .4rem 0 #ddd;
  padding: 1rem;
}
.section-wrap:hover {
  box-shadow: 0 .1rem .4rem .1rem #ddd;
}
.section-item {
  display: flex;
  line-height: 1.25;
  overflow: auto;
}
.section-item:first-of-type {
  margin-bottom: 1rem;
}
.section-title {
}
.section-content {
  padding-right: .5rem;
  width: 100%;
}
.title-q:before {
  content: "Q";
  display: inline-block;
  width: 1rem;
  padding-right: .5rem;
  margin-right: .5rem;
  border-right: .1rem solid #aaa;
}
.title-a:before {
  content: "A";
  display: inline-block;
  width: 1rem;
  padding-right: .5rem;
  margin-right: .5rem;
  border-right: .1rem solid #aaa;
}
